################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/SamuraiAPp/SamuraiApp.Data/obj
/SamuraiAPp/SamuraiApp.Domain/obj
/SamuraiAPp/SamuraiApp.UI/obj
/.vs
/SamuraiAPp/.vs/SamuraiAPp/DesignTimeBuild
/SamuraiAPp/SamuraiApp.Data/bin
/SamuraiAPp/SamuraiApp.Domain/bin
/SamuraiAPp/SamuraiApp.UI/bin
/SamuraiAPp/.vs/SamuraiAPp/v17
